<mat-card>

  <div style="display: flex; justify-content: space-between; align-items: center; padding: 16px; border-bottom: 1px solid #eee;">
    <h2 class="m-0 text-primary fw-bold" style="font-size: 1.2rem;">{{ isEdit ? 'Edit Customer' : 'Add Customer' }}</h2>
    
    <div style="display: flex; align-items: center; gap: 12px;">
      <button mat-raised-button color="primary" (click)="onSave()" [disabled]="loading">
        <mat-icon *ngIf="!loading">save</mat-icon> 
        <mat-spinner *ngIf="loading" diameter="18" style="display: inline-block; margin-right: 8px;"></mat-spinner>
        {{ isEdit ? 'Update' : 'Save' }}
      </button>

      <button mat-raised-button (click)="cancel()">
        <mat-icon>close</mat-icon> Cancel
      </button>
    </div>
  </div>

  <form [formGroup]="customerForm">

    <div class="grid">

      <mat-form-field appearance="outline">
        <mat-label>Customer Name</mat-label>
        <input matInput formControlName="customerName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Customer Type</mat-label>
        <mat-select formControlName="customerType">
          <mat-option [value]="null">Customer Type</mat-option>
          <mat-option value="Retail">Retail</mat-option>
          <mat-option value="Wholesale">Wholesale</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>GST Number</mat-label>
        <input matInput formControlName="gst">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Credit Limit</mat-label>
        <input matInput type="number" formControlName="creditLimit">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Billing Address</mat-label>
        <textarea matInput rows="2" formControlName="billingAddress"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Shipping Address</mat-label>
        <textarea matInput rows="2" formControlName="shippingAddress"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="customerStatus">
           <mat-option [value]="null">Select</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

    </div>



  </form>

</mat-card>
