<div [formGroup]="priceListForm" class="master-container">
  <div class="actions">
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="priceListForm.invalid">
      <mat-icon>save</mat-icon> {{ isEditMode ? 'Update Price List' : 'Save Price List' }}
    </button>
  </div>
  <div class="header-form-card">
    <div class="header-grid">
      <mat-form-field appearance="outline"><mat-label>Price List Name</mat-label><input matInput formControlName="name"></mat-form-field>
      
      <mat-form-field appearance="outline"><mat-label>Price Type</mat-label>
        <mat-select formControlName="priceType">
          <mat-option value="SALES">Sales</mat-option>
          <mat-option value="PURCHASE">Purchase</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apply to Group</mat-label>
        <mat-select formControlName="applicableGroup">
          <mat-option *ngFor="let group of applicableGroups" [value]="group.value">
            {{ group.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline"><mat-label>Price List Code</mat-label><input matInput formControlName="code"></mat-form-field>

      <mat-form-field appearance="outline"><mat-label>Valid From</mat-label>
        <input matInput [matDatepicker]="p1" formControlName="validFrom">
        <mat-datepicker-toggle matSuffix [for]="p1"></mat-datepicker-toggle>
        <mat-datepicker #p1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline"><mat-label>Valid To</mat-label>
        <input matInput [matDatepicker]="p2" formControlName="validTo">
        <mat-datepicker-toggle matSuffix [for]="p2"></mat-datepicker-toggle>
        <mat-datepicker #p2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline"><mat-label>Currency</mat-label>
        <mat-select formControlName="currency"><mat-option value="INR">INR</mat-option></mat-select>
      </mat-form-field>

      <div class="toggle-box">
        <mat-slide-toggle color="primary" formControlName="isActive">Active Status</mat-slide-toggle>
      </div>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Price List Description / Remarks</mat-label>
        <textarea matInput formControlName="description" rows="2"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="table-section-card">
    <div class="p-3 border-bottom d-flex justify-content-between align-items-center bg-light mb-3">
      <h6 class="m-0 fw-bold"><mat-icon class="me-2 text-primary">inventory_2</mat-icon> Linked Products</h6>
      <button type="button" mat-raised-button color="primary" style="margin-top: 10px;" (click)="addItemRow()">
        <mat-icon>add</mat-icon> Add Product</button>        
    </div>

    <div formArrayName="priceListItems" class="table-responsive-box">
      <table class="enterprise-table">
        <thead>
          <tr>
            <th class="col-search">PRODUCT DETAILS</th>
            <th class="col-uom">UNIT</th>
            <th class="col-min">MIN QTY</th>
            <th class="col-max">MAX QTY</th>
            <th class="col-price">RATE (₹)</th>
            <th class="col-disc">DISC (%)</th>
            <th class="col-action">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
            <td class="col-search">
              <mat-form-field appearance="outline" class="w-100 no-subscript">
                <input type="text" matInput placeholder="Search..." formControlName="productSearch" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onProductSelect($event, i)">
                  <mat-option *ngFor="let prod of filteredProducts[i]" [value]="prod">{{prod.name}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td class="col-uom"><input type="text" class="table-control text-center" formControlName="unit" readonly></td>
            <td class="col-min"><input type="number" class="table-control text-center" formControlName="minQty"></td>
            <td class="col-max"><input type="number" class="table-control text-center" formControlName="maxQty"></td>
            <td class="col-price"><input type="number" class="table-control text-end text-success fw-bold" formControlName="rate"></td>
            <td class="col-disc"><input type="number" class="table-control text-center" formControlName="discountPercent"></td>
            <td class="col-action">
              <button type="button" mat-icon-button color="warn" (click)="removeItem(i)" [disabled]="items.length === 1">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>