:host {
    display: block;
    width: 100%; /* Flexible by default */
    max-width: 500px; /* Optional cap */
}

.mat-mdc-form-field {
    width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper { display: none; }