.bulk-unit-container {
  padding: 12px 24px;
  background-color: #f8f9fa;
  min-height: calc(100vh - 84px);

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }

  app-summary-stats {
    display: block;
    margin-bottom: 24px;
  }
}
