<div class="list-container">
  <div class="header-actions">
    <h1>All Price Lists</h1>
    <div class="d-flex gap-3">
      <button *ngIf="selectedRows.length > 0" mat-raised-button color="warn" (click)="confirmBulkDelete()" [disabled]="loading">
        <mat-icon>delete_sweep</mat-icon>
        Delete Selected ({{selectedRows.length}})
      </button>
      <button *ngIf="selectedRows.length === 0"mat-raised-button class="main-add-btn" (click)="openCreatePage()" [disabled]="loading">
        <mat-icon>add</mat-icon>
        New List
      </button>
    </div>
  </div>
   
  <div class="grid-wrapper">
    <app-pricelist-hierarchical-grid 
      gridKey="pricelist-grid"
      [columns]="columns"
      [childColumns]="childColumns" 
      [data]="data" 
      [totalCount]="totalCount" 
      [loading]="loading"
      (loadData)="loadPriceLists($event)" 
      (selectionChange)="onSelectionChange($event)"
      (delete)="deletePriceList($event)"
      (editAction)="onEditClicked($event)"
      (rowExpand)="onRowExpand($event)"
      (deleteChildRow)="onDeletePriceListItem($event)">
    </app-pricelist-hierarchical-grid>
  </div>
</div>