

  <div class="list-container">
  <div class="header-actions">
    <h1>All Subcategories</h1>
    <div class="d-flex gap-3">
      <button *ngIf="selectedRows.length > 0" mat-raised-button color="warn" (click)="confirmBulkDelete()" [disabled]="loading">
        <mat-icon>delete_sweep</mat-icon>
        Delete Selected ({{selectedRows.length}})
      </button>
      <button *ngIf="selectedRows.length === 0" mat-raised-button color="primary" routerLink="/app/master/subcategories/add">
        <mat-icon>add</mat-icon>
        New Subcategory
      </button>
    </div>
  </div>

  <div class="grid-wrapper">
    <app-server-datagrid [columns]="columns" [data]="data" 
      gridKey="subcategory-grid"
      [totalCount]="totalCount" [loading]="loading"
      (loadData)="loadSubCategories($event)" 
      (selectionChange)="onSelectionChange($event)" 
      (editAction)="onEdit($event)"
      (delete)="deleteCategory($event[0])">
    </app-server-datagrid>
  </div>
</div>
