<div class="dialog-container" [class.success-border]="data.isSuccess" [class.error-border]="!data.isSuccess">
  <div class="dialog-header">
    <mat-icon [class.text-success]="data.isSuccess" [class.text-error]="!data.isSuccess">
      {{ data.isSuccess ? 'check_circle' : 'report' }}
    </mat-icon>
    <h2 mat-dialog-title>{{ data.isSuccess ? 'Success' : 'Attention Required' }}</h2>
  </div>

  <mat-dialog-content>
    <p class="message-text">{{ data.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button [color]="data.isSuccess ? 'primary' : 'warn'" mat-dialog-close>
      Ok
    </button>
  </mat-dialog-actions>
</div>