<div class="dialog-container" [class.success-border]="data.isSuccess" [class.error-border]="!data.isSuccess">
    <h2 mat-dialog-title [style.color]="data.isSuccess ? '#2e7d32' : '#d32f2f'">
        @if (data.isSuccess) {
            <mat-icon class="text-success">check_circle</mat-icon>
        } @else {
            <mat-icon class="text-error">error</mat-icon>
        }
        {{ data.isSuccess ? 'Success' : 'Error' }}
    </h2>
    
    <mat-dialog-content>
        <p>{{ data.message }}</p>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-flat-button 
                [color]="data.isSuccess ? 'primary' : 'warn'" 
                mat-dialog-close>
            OK
        </button>
    </mat-dialog-actions>
</div>